body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: rgb(0 0 0);
  background-color: rgb(255 255 255);
}

h1 {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: left;
}
