body {
  height: 100vh;
  background: rgba(23, 23, 23, 1);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

header {
  background: rgba(31, 31, 31, 1);
  margin-bottom: 80px;
}

.header__container {
  max-width: 1135px;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
}

nav>ul {
  display: flex;
  gap: 24px;
}

main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1135px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.main__container {
  display: flex;
  gap: 32px;
  margin-bottom: 120px;
}

aside {
  flex: 0 0 260px;
}

aside>ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
}

.ads {
  width: 100%;
  margin-top: 48px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.ads p {
  height: 120px;
  background: rgba(41, 41, 41, 1);
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

section {
  flex-grow: 1;
  display: flex;
}

.cards__container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 24px;
}

.cards__container a {
  padding: 16px;
  background: rgba(31, 31, 31, 1);
  display: flex;
  flex-basis: calc((100% - 48px) / 3);
  flex-grow: 0;
}

.cards__container img {
  margin-bottom: 10px;
}

.cards__container h3 {
  font-weight: 700;
}

.news {
  display: flex;
  flex-direction: column;
}

.news h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.news-cards__container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 24px;
}

.news_card {
  flex-basis: calc((100% - 72px) / 4);
  flex-grow: 0;
}

footer {
  background: rgba(31, 31, 31, 1);
  text-align: center;
  padding: 20px;
}