body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #18191c;
}

/* .container {
  flex-basis: 1360px;
} */

header {
  align-self: start;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

nav li {
  border-bottom: 2px solid orange;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: background-color 0.2s linear;
}

nav li:hover {
  background-color: orange;
}

main {
  margin: 30px 0;
}

h1 {
  margin-bottom: 30px;
  font-size: 26px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 420px;
  padding: 20px;
  background-color: #252525;
}

.card-header {
  margin-bottom: 20px;
}

.card-header h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}

.card-header p {
  text-align: right;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-footer {
  margin-top: auto;
}

.card-footer p {
  text-align: right;
}

/* .footer {
  width: 1360px;
  margin: 0 auto;
} */

.footer a {
  border-bottom: 2px solid orange;
}
