body {
  padding: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: rgb(255 255 255);
  background-color: rgb(0 0 0);
}

h1 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
}


main {
  display: grid;
  justify-content: center;

  h1 {
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 320px;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 6px 16px;
      border: 1px dotted rgb(255 255 255);
      border-radius: 4px;
    }
  }
}

button {
  padding: 6px 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(255 255 255);
  border-radius: 4px;
}
