body {
  position: relative;
  height: 100vh;
  font-family: Inter, Arial, sans-serif;
}

.login__form {
  display: grid;
  grid-template-columns: 1fr 578px;
  padding: 24px;
}

.aut__container {
  place-self: center center;
}

h1 {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: left;
}

h2 {
  margin: 28px 0 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: rgb(141 141 134 / 100%);
  text-align: center;
}

button {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 44px;
  padding: 9px 20px;
  margin-bottom: 12px;
  border: 1px  solid;
  border-color: rgb(188 187 181 / 100%);
  border-radius: 8px;
}

button p {
  /* font-family: Inter; */
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
}

button:hover {
  cursor: pointer;
  border-color: rgb(33 32 28 / 100%);
}

form {
  margin-bottom: 24px;
}

form div {
  margin-bottom: 16px;
}

.field__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input {
  border: 1px  solid;
  border-color: rgb(188 187 181 / 100%);
}

input:not(input[type="checkbox"]) {
  width: 320px;
  height: 44px;
  padding: 0 16px;
  border-radius: 8px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: rgb(141 141 134 / 100%);
  text-align: left;
}

label:not(label[for="checkbox"]) {
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  color: rgb(33 32 28 / 100%);
  text-align: left;
}

form input:hover {
  cursor: pointer;
  border-color: rgb(33 32 28 / 100%);
}

.checkbox {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  align-items: center;
}

.checkbox input {
  width: 16px;
  height: 16px;
  border-radius: 6px;
}

.checkbox input:checked {
  background-color: rgb(33 32 28 / 100%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox label > span {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox:hover label > span::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: rgb(33 32 28 / 100%);
}

form button:hover,
form button:active {
  color: white;
  cursor: pointer;
  background-color: rgb(33 32 28 / 100%);
}

.logIn__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: rgb(141 141 134 / 100%);
  text-align: center;
}

.logIn__link a {
  position: relative;
  color: rgb(33 32 28 / 100%);
}

.logIn__link a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: rgb(33 32 28 / 100%);
}

img {
  border-radius: 24px;
}

@media (width <= 1024px) {
  .login__form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  img {
    display: none;
  }
}
