.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 25px;

  & nav {
    & ul {
      display: flex;
      flex-flow: row nowrap;
      gap: 50px;

      & li {
        cursor: pointer;
      }
    }
  }
}
